<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pokedex
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Cherchez un pokémon"  (ionInput)="filterList($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div >
      <ion-list>
        <ion-item *ngFor="let pokemon of pokemons" button (click)="getDetails(pokemon.id)">
          <ion-img [src]="getImage(pokemon.id)" ></ion-img>
          <ion-label class="ion-text-center">{{ pokemon.name }}</ion-label>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
